html {
  font-size: 62.5%;
}

body {
  font-family: "Inter";
  font-weight: 400;
  font-size: 1.8rem;
  margin: 0;
  padding: 0;
  width: 100%;
}
/* section {
  width: 100%;
  padding: 0.5rem;
} */
p,
h1,
h2,
h3,
button,
input,
textarea {
  margin: 0;
  padding: 0;
}

button {
  font-family: "Inter";
  font-weight: 700;
  text-transform: uppercase;
  min-height: 5rem;
  min-width: 10rem;
  font-size: 1.8rem;
}

header {
  text-align: center;
}

h1 {
  font-size: 4.8rem;
  margin-top: 6rem;
  margin-bottom: 3rem;
}

div#steps {
  font-weight: 700;
}

h2 {
  font-size: 2.4rem;
  margin-top: 3rem;
  margin-bottom: 2rem;
}
h3 {
  font-size: 1.8rem;
  min-width: 40rem;
  margin-bottom: 1.8rem;
}
#h3-brackets {
  font-weight: 400;
  min-width: 40rem;
}

#italicised-array {
  margin-top: 1.8rem;
  min-width: 40rem;
}

textarea,
button#submit,
button#copy-button {
  min-width: 40rem;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
label.entered-words {
  /* outline: 1px solid red; */
  position: relative;
}
button#add-words {
  margin: 0;
  /* outline: 1px solid red; */
  position: absolute;
  top: auto;
  left: auto;
  border: 0.1rem solid black;
  border-radius: 0.4rem;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

button {
  color: white;
  border: 0;
  border-radius: 0.4rem;
  background-color: black;
}

button:hover {
  cursor: pointer;
}

input {
  min-width: 30rem;
  min-height: 5rem;
  border-radius: 0.4rem;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  /* outline: 1px solid red; */
  border: 0.1rem solid black;
  padding: 1rem;
  font-size: 1.8rem;
}
/* input:focus {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
} */
textarea {
  border-radius: 0.4rem;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  min-height: 20rem;
  min-width: 40rem;
  padding: 1rem;
  font-family: Inter;
  font-size: 1.8rem;
  font-weight: 400;
  background-color: rgb(240, 240, 240);
}

main {
  /* width: 100%; */
  display: flex;
  /* padding: 5rem; */
  /* align-content: center; */
  justify-content: center;
  /* margin-top: 4rem; */
  padding: 5rem 0 6rem 0;
  /* margin: 5rem 10rem 6rem 10rem; */
  max-width: 92rem;
  margin: auto;
}
/* section#left,
section#right {
   min-width: 3rem;
  overflow: hidden; 
} */
section#left-section {
  margin-right: 12rem;
}
/* button#copy-text {
  display: block;
} */
#markdown-section {
  /* display: block; */
  border-radius: 0.4rem;
  min-width: 40rem;
  min-height: 79rem;
  background-color: rgb(245, 245, 245);
  padding: 1rem;
  /* overflow: scroll; */
}
/* #markdown-section > * {
  max-width: 40rem;
} */
/* div#markdown-preview {
  display: block;
  width: 40rem;
  height: 40rem;
  background-color: wheat;
} */
input,
textarea {
  background-color: rgb(245, 245, 245);
}
input:focus,
textarea:focus {
  background: none;
}

.enteredWord {
  display: inline-block;
  color: white;
  background-color: black;
  padding: 0.2rem 0.8rem;
  margin: 0.2rem;
  border-radius: 2rem;
}
.enteredWord:hover {
  cursor: pointer;
}
